/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f9;
}

/* Layout */
header {
    background-color: #104bb3;
    color: white;
    padding: 1rem;
    text-align: center;
}

header img {
	height: 200px;
	vertical-align: middle;
}
header h1 {
    font-size: 2rem;
}

.nav-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

section {
    max-width: 800px;
	width: 100%;
    margin: 20px 0;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
	margin-bottom: 10px;
}

section ul {
	padding-left: 30px;
}

section li {
	margin-bottom: 10px;
}

pre {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto; /* Ensures horizontal scrolling for long code */
    font-size: 0.9rem;
    line-height: 1.5;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}

code {
   display: block;
}
footer {
    background-color: #104bb3;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer img {
    height: 30px;
    vertical-align: middle;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
    }
}
